{{< CommonMetaTags}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta id="Meta-lang" http-equiv="content-language" content="{{CurrentLang.IsoLang}}" data-date-format="{{JsDateFormatForBe}}">
{{{PixelFacebook}}}
{{{OtherScripts}}}
{{{GoogleTagManagerHead}}}
{{/CommonMetaTags}}

{{< FaviconTags}}
<link rel="shortcut icon" type="image/x-icon" href="{{Url}}/{{FaviconName}}" />
{{/FaviconTags}}

{{< CommonStylesheets}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{TitlePoliceImportUrl}}" rel="stylesheet">
<link href="{{TextPoliceImportUrl}}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/line-awesome/line-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/fa-brands.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/bootstrap/bootstrap-min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.carousel.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/owl.theme.default.2.3.4.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://static.elloha.com/webgen/css/lightgallery.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/common.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/elloha-template-44.min.css?v={{TemplateName}}_{{CacheVar}}">
<link rel="stylesheet" type="text/css" href="{{Url}}/css/custom.css?v={{TemplateName}}_{{CacheVar}}">
{{/CommonStylesheets}}

{{< CommonScripts}}
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/plugins.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/bootstrap/bootstrap-min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/owl.carousel.2.3.4.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/mandrill/mandrill.min.js"></script>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin async data-callback="initMapKit" data-libraries="map" data-initial-token="{{TokenMapKit}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/skycons.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/lightgallery-all.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/config.js?v={{Template}}_{{CacheVar}}"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.fittext.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/jquery.ebcaptcha.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/common.min.js"></script>
<script type="text/javascript" src="{{Url}}/js/elloha-template-44.min.js"></script>
<script type="text/javascript" src="https://static.elloha.com/webgen/js/newcookieconsent.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js"></script>
{{/CommonScripts}}

{{< ScriptCalendarClick}}
<script>
    var onAvailableDateSelect = function () {
        var dpWidget = window.widgetDatePicker["ConstellationWidgetContainerBE"];

        if (dpWidget === null || dpWidget === undefined) {
            return;
        }

        dpWidget.setDate(this.getMoment()._d);
        $('#ConstellationWidgetContainerBE #BtnLaunchBooking').trigger('click');
    };
</script>
{{/ScriptCalendarClick}}

{{< Header}}
<header class="header-other-pages">
    <div class="first-nav">
        <div class="menu-and-contacts">
            <div class="navbar-toggler-contain {{^HasRecommandations}}no-around{{/HasRecommandations}}">
                <div class="navbar-toggler">
                    <div class="menu-name btn-menu">{{ResourcesTemplate.Menu}}</div>
                </div>

                <a class="menu-name menu-name-desk" href="{{UrlRoot}}">{{ResourcesTemplate.Home}}</a>

                {{#HasRecommandations}}
                <a class="menu-name menu-name-tab" href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
                {{/HasRecommandations}}
            </div>

            <div class="contacts-and-lang">
                {{#HasSocialNetworks}}
                {{#TikTok}}
                <a href="{{TikTok}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                {{/TikTok}}

                {{#Facebook}}
                <a href="{{Facebook}}" class="contact-header contact-header-desk {{^HasRecommandations}}contact-header-no-around{{/HasRecommandations}}" target="_blank">
                    <i class="lab la-facebook-f"></i>
                </a>
                {{/Facebook}}

                {{#Twitter}}
                <a href="{{Twitter}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="lab la-twitter"></i>
                </a>
                {{/Twitter}}

                {{#Pinterest}}
                <a href="{{Pinterest}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="lab la-pinterest"></i>
                </a>
                {{/Pinterest}}

                {{#Youtube}}
                <a href="{{Youtube}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="lab la-youtube"></i>
                </a>
                {{/Youtube}}

                {{#Instagram}}
                <a href="{{Instagram}}" class="contact-header contact-header-desk {{^HasRecommandations}}contact-header-no-around{{/HasRecommandations}}" target="_blank">
                    <i class="lab la-instagram"></i>
                </a>
                {{/Instagram}}

                {{#Vimeo}}
                <a href="{{Vimeo}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="lab la-vimeo"></i>
                </a>
                {{/Vimeo}}

                {{#Linkedin}}
                <a href="{{Linkedin}}" class="contact-header contact-header-desk" target="_blank">
                    <i class="lab la-linkedin-in"></i>
                </a>
                {{/Linkedin}}
                {{/HasSocialNetworks}}

                {{#HasPhoneNumberActivated}}
                <a href="tel:{{PhoneNumber}}" class="contact-header">
                    <i class="las la-phone"></i>
                </a>
                {{/HasPhoneNumberActivated}}

                {{#HasMobilePhoneNumberActivated}}
                <a href="tel:{{MobilePhoneNumber}}" class="contact-header contact-header-desk">
                    <i class="las la-mobile"></i>
                </a>
                {{/HasMobilePhoneNumberActivated}}

                {{#HasOtherLangs}}
                <div class="dropdown languages">
                    <div class="dropdown-div" data-toggle="dropdown">
                        <div class="current-lang flag">{{CurrentLang.IsoLang}}</div>
                    </div>
                    <ul class="dropdown-menu">
                        {{#Langs}}
                        <li><a href="{{UrlLang}}" lang="{{IsoLang}}"><div class="flag">{{IsoLang}}</div></a></li>
                        {{/Langs}}
                    </ul>
                </div>
                {{/HasOtherLangs}}

                <a href="{{UrlRoot}}#section-contact" class="contact-header contact-header-desk">
                    <i class="la la-at"></i>
                </a>
            </div>
        </div>

        <div class="logo logo-w">
            <a class="logo-top {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}">{{/HasLogo}}
                {{^HasLogo}}<span class="title">{{CustomTitle}}</span>{{/HasLogo}}
            </a>
        </div>
    </div>

    <div class="menu-header">
        <div></div>

        <ul class="menu-pages">
            <li>
                <a href="{{UrlRoot}}">{{ResourcesTemplate.Home}}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M7 0.0649414L7.32253 4.87077C7.34669 5.23079 7.79761 5.3773 8.02877 5.10024L11.1145 1.40182L8.55063 5.4794C8.35857 5.78486 8.63725 6.16844 8.98711 6.08016L13.6574 4.90182L9.18645 6.69365C8.85152 6.82788 8.85151 7.302 9.18644 7.43623L13.6574 9.22806L8.98711 8.04972C8.63725 7.96145 8.35857 8.34502 8.55063 8.65048L11.1145 12.7281L8.02877 9.02964C7.79761 8.75258 7.34669 8.89909 7.32253 9.25911L7 14.0649L6.67747 9.25911C6.65331 8.89909 6.20239 8.75258 5.97123 9.02964L2.8855 12.7281L5.44937 8.65048C5.64143 8.34502 5.36275 7.96145 5.01289 8.04972L0.342604 9.22806L4.81355 7.43623C5.14848 7.302 5.14848 6.82788 4.81356 6.69365L0.342604 4.90182L5.01289 6.08016C5.36275 6.16844 5.64143 5.78486 5.44937 5.4794L2.8855 1.40182L5.97123 5.10024C6.20239 5.3773 6.65331 5.23079 6.67747 4.87077L7 0.0649414Z" fill="var(--color-bg-3)" />
                </svg>
            </li>
            {{#HasRecommandations}}
            <li class="li-mobile">
                <a href="{{UrlAround}}">{{ResourcesTemplate.pageMenuTitle_around}}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M7 0.0649414L7.32253 4.87077C7.34669 5.23079 7.79761 5.3773 8.02877 5.10024L11.1145 1.40182L8.55063 5.4794C8.35857 5.78486 8.63725 6.16844 8.98711 6.08016L13.6574 4.90182L9.18645 6.69365C8.85152 6.82788 8.85151 7.302 9.18644 7.43623L13.6574 9.22806L8.98711 8.04972C8.63725 7.96145 8.35857 8.34502 8.55063 8.65048L11.1145 12.7281L8.02877 9.02964C7.79761 8.75258 7.34669 8.89909 7.32253 9.25911L7 14.0649L6.67747 9.25911C6.65331 8.89909 6.20239 8.75258 5.97123 9.02964L2.8855 12.7281L5.44937 8.65048C5.64143 8.34502 5.36275 7.96145 5.01289 8.04972L0.342604 9.22806L4.81355 7.43623C5.14848 7.302 5.14848 6.82788 4.81356 6.69365L0.342604 4.90182L5.01289 6.08016C5.36275 6.16844 5.64143 5.78486 5.44937 5.4794L2.8855 1.40182L5.97123 5.10024C6.20239 5.3773 6.65331 5.23079 6.67747 4.87077L7 0.0649414Z" fill="var(--color-bg-3)" />
                </svg>
            </li>
            {{/HasRecommandations}}
        </ul>

        {{#HasSocialNetworks}}
        <div class="social-medias">
            {{#TikTok}}<a href="{{TikTok}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/TikTok}}
            {{#Facebook}}<a href="{{Facebook}}" target="_blank"><i class="lab la-facebook-f"></i></a>{{/Facebook}}
            {{#Twitter}}<a href="{{Twitter}}" target="_blank"><i class="lab la-twitter"></i></a>{{/Twitter}}
            {{#Pinterest}}<a href="{{Pinterest}}" target="_blank"><i class="lab la-pinterest"></i></a>{{/Pinterest}}
            {{#Youtube}}<a href="{{Youtube}}" target="_blank"><i class="lab la-youtube"></i></a>{{/Youtube}}
            {{#Instagram}}<a href="{{Instagram}}" target="_blank"><i class="lab la-instagram"></i></a>{{/Instagram}}
            {{#Vimeo}}<a href="{{Vimeo}}" target="_blank"><i class="lab la-vimeo"></i></a>{{/Vimeo}}
            {{#Linkedin}}<a href="{{Linkedin}}" target="_blank"><i class="lab la-linkedin-in"></i></a>{{/Linkedin}}
        </div>
        {{/HasSocialNetworks}}
    </div>
</header>
{{/Header}}

{{< Footer}}
{{#HasAlcoolWarning}}
<div class="alcool-warning">
    <span>{{ResourcesTemplate.AlcoolWarning}}</span>
</div>
{{/HasAlcoolWarning}}
<footer class="section-footer">
    <div class="content-section-footer">

        <div class="title-and-address-footer">
            <div class="title-footer">
                <a class="logo-footer {{^HasLogo}} logo-text{{/HasLogo}}" href="{{UrlRoot}}">
                    {{#HasLogo}}<img src="{{LogoUrl}}" alt="{{CustomTitle}}-logo">{{/HasLogo}}
                    {{^HasLogo}}<span class="title">{{CustomTitle}}</span>{{/HasLogo}}
                </a>
            </div>

            <div class="address-footer">
                <span>{{CustomTitle}}, {{CustomTypeOi}}</span>
                <span>{{AddressLine}},</span>
                <span>{{PostalCode}}, {{City}}, {{Country}}</span>
            </div>
        </div>

        <div class="contain-hr">
            <hr />
        </div>

        <div class="cgv-mentions-and-copy">
            <div class="cgv-and-mentions">
                <a class="legal-notice" href="{{UrlLegalNotice}}">{{ResourcesTemplate.pageMenuTitle_legal-notice}}</a>

                <a href="{{UrlTermsOfSales}}">{{ResourcesTemplate.pageMenuTitle_terms-of-sales}}</a>
            </div>

            <div class="copyright">
                {{ResourcesTemplate.Copyright}} {{CustomTitle}}
                <span class="trait-vertical">|</span>
                {{ResourcesTemplate.PoweredBy}} <a href="http://www.elloha.com/fr/" target="_blank"><img src="https://static.elloha.com/webgen/img/elloha.png" alt=" "></a>
            </div>
        </div>

    </div>

    <div class="scroll-holder text-center">
        <a href="javascript:" id="scroll-to-top"><i class="las la-arrow-down"></i></a>
    </div>
</footer>
{{/Footer}}